
{% block content %}
<!-- 通常在页面的合适位置，比如顶部或底部 -->

<body>
    <div align="center">
    <h2>注册</h2>
    <form method="POST">
        <label for="username">用户:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="email">邮箱:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="password">密码:</label>
        <input type="password" id="pwd" name="pwd" required><br>
        <p><button type="submit" onclick="redirectToHome()">注册</button></p>
    </form>
    </div>
</body>
<p>
<div align="center" id="flash_messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
</p>
{% endblock %}
